html {
    background: #FFF7EB;
}

h1 {
    font-family: monospace;
    color: #607966;
    text-align: center;
    font-size: 300%;
}

.centered {
    width: 50%;
    height: 50%;
    margin: auto;
    position: fixed;
    top: 0; left: 0; bottom: 0; right: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.connect{
    text-align: center;
}

.main-logo{
    height: 150px;
    display: flex;
}

.logo{
    height: 40px;
    display: inline-block;
    margin: 5px 3px;
    padding: 5px;
}

p {
    font-family: monospace;
    color: #545454;
    text-align: center;
}

p.main {
    font-size: 150%;
}

p.description {
    font-size: 100%;
}

a {
    text-decoration: none;
}

a:link, a:visited, a:active {
    color: #FFCD82;
}

a:hover {
    color: #FFB13C;
}