html {
    background: #FFF7EB;
}

body {
    margin: 0;
    padding: 0;
}

h1 {
    font-family: monospace;
    color: #607966;
    text-align: center;
}

div.layout{
    display: flex
}

div.permanent-column {
    height: 100vh;
    width: 30vw;
    background-color: #FFDEAD;
    padding: 2em;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.connect{
    text-align: center;
}

div.main-logo-container {
    display: flex;
    justify-content: center;
}

div.content {
    background: #FFF3E0;
    width:70vw
}

.main-logo{
    height: 150px;
    display: flex;
}

.logo{
    height: 40px;
    display: inline-block;
    margin: 5px 3px;
    padding: 5px;
}

p {
    font-family: monospace;
    color: #545454;
    text-align: center;
}

p.main {
}

p.description {
}

a {
    text-decoration: none;
}

a:link, a:visited, a:active {
    color: #F59505;
}

a:hover {
    color: #F59505;
}