<div class="my-1 flex flex-col justify-center">
    <h1 class="text-h1-color text-center text-xl">Pukka Built</h1>
    <p class="text-p-color text-center">Professional Services by</p>
    <p class="text-p-color text-center"><a class="text-link-color visited:text-link-color active:text-link-color hover-text-link-color-hover" href="https://junr03.com" target="_blank">José Ulises Niño Rivera</a></p>
    <p class="text-p-color text-center"><a class="text-link-color visited:text-link-color active:text-link-color hover-text-link-color-hover" href="mailto:info@pukkabuilt.org" target="_blank">info@pukkabuilt.org</a></p>
</div>
