@tailwind base;
@tailwind components;
@tailwind utilities;

/* Typography */

h1 {
    font-family: monospace;
}

h2, h3{
    font-family: monospace;
}

p {
    font-family: monospace;
}

/* Links */

a {
    font-family: monospace;
    text-decoration: none;
}

a:link, a:visited, a:active {
    color: #F59505;
}

a:hover {
    color: #DB8000;
}
